***
## <p style="text-align:center">  Assignment no 2:
***

Q26. What is a string? How can we declare string in Python?

Q27. How can we access the string using its index?

Q28. Write a code to get the desired output of the following

    string = "Big Data iNeuron"
    desired_output = "iNeuron"

Q29. Write a code to get the desired output of the following

    string = "Big Data iNeuron"
    desired_output = "norueNi"


Q30. Resverse the string given in the above question.

Q31. How can you delete entire string at once?

Q32. What is escape sequence?

Q33. How can you print the below string?

    'iNeuron's Big Data Course'

Q34. What is a list in Python?

Q35. How can you create a list in Python?

Q36. How can we access the elements in a list?

Q37. Write a code to access the word "iNeuron" from the given list.

    lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

Q38. Take a list as an input from the user and find the length of the list.

Q39. Add the word "Big" in the 3rd index of the given list.

    lst = ["Welcome", "to", "Data", "course"]

Q40. What is a tuple? How is it different from list?

Q41. How can you create a tuple in Python?

Q42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.

Q43. Can two tuple be appended. If yes, write a code for it. If not, why?

Q44. Take a tuple as an input and print the count of elements in it.

Q45. What are sets in Python?

Q46. How can you create a set?

Q47. Create a set and add "iNeuron" in your set.

Q48. Try to add multiple values using add() function.

Q49. How is update() different from add()?

Q50. What is clear() in sets?

Q51. What is frozen set?

Q52. How is frozen set different from set?

Q53. What is union() in sets? Explain via code.

Q54. What is intersection() in sets? Explain via code.

Q55. What is dictionary ibn Python?

Q56. How is dictionary different from all other data structures.

Q57. How can we delare a dictionary in Python?

Q58. What will the output of the following?

    var = {}
    print(type(var))

Q59. How can we add an element in a dictionary?

Q60. Create a dictionary and access all the values in that dictionary.

Q61. Create a nested dictionary and access all the element in the inner dictionary.

Q62. What is the use of get() function?

Q63. What is the use of items() function?

Q64. What is the use of pop() function?

Q65. What is the use of popitems() function?

Q66. What is the use of keys() function?

Q67. What is the use of values() function?

Q68. What are loops in Python?

Q69. How many type of loop are there in Python?

Q70. What is the difference between for and while loops?

Q71. What is the use of continue statement?

Q72. What is the use of break statement?

Q73. What is the use of pass statement?

Q74. What is the use of range() function?

Q75. How can you loop over a dictionary?


### Coding problems
Q76. Write a Python program to find the factorial of a given number.

Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (P*R*T)/100

Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.

Q79. Write a Python program to check if a number is prime or not.

Q80. Write a Python program to check Armstrong Number.

Q81. Write a Python program to find the n-th Fibonacci Number.

Q82. Write a Python program to interchange the first and last element in a list.

Q83. Write a Python program to swap two elements in a list.

Q84. Write a Python program to find N largest element from a list.

Q85. Write a Python program to find cumulative sum of a list.

Q86. Write a Python program to check if a string is palindrome or not.

Q87. Write a Python program to remove i'th element from a string.

Q88. Write a Python program to check if a substring is present in a given string.

Q89. Write a Python program to find words which are greater than given length k.

Q90. Write a Python program to extract unquire dictionary values.

Q91. Write a Python program to merge two dictionary.

Q92. Write a Python program to convert a list of tuples into dictionary.
```
Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}
```

Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.
```
Input: list = [9, 5, 6]
Output: [(9, 729), (5, 125), (6, 216)]
```

Q94. Write a Python program to get all combinations of 2 tuples.
```
Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)
Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]
```

Q95. Write a Python program to sort a list of tuples by second item.
```
Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)]
Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]
```

Q96. Write a python program to print below pattern.
```
*
* *
* * *
* * * *
* * * * *
```
Q97. Write a python program to print below pattern.
```
    *
   **
  ***
 ****
*****
```

Q98. Write a python program to print below pattern.
```
    *
   * *
  * * *
 * * * *
* * * * *
```

Q99. Write a python program to print below pattern.
```
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
```

Q100. Write a python program to print below pattern.
```
A
B B
C C C
D D D D
E E E E E
```

# ---------------------------------------------------------------------------------------------------------------

#####  Q26: What is a string? How can we declare string in Python?
###### ANS :
 * A string is a sequence of characters.

    Strings can be created by enclosing characters inside a single quote or double-quotes. Ex;
    my_string = "Hello" print(my_string)

    my_string = '''Hello'''
    print(my_string)

#####  Q27: How can we access the string using its index? 
###### ANS :
 * String is a list of charecters thus it can be accessed using index.

    Ex;

In [38]:
my_string = "Hello" 
print(my_string[4])

o

In [39]:
for c in my_string:
        print(c)

H
e
l
l
o

#####  Q28. Write a code to get the desired output of the following?

    string = "Big Data iNeuron"
    desired_output = "iNeuron"
###### ANS :

In [49]:
my_string = "Big Data iNeuron"

desired_output = my_string.split(" ")[2]

print(desired_output)

iNeuron

##### Q29. Write a code to get the desired output of the following
    string = "Big Data iNeuron"
    desired_output = "norueNi"
###### ANS :

In [16]:
my_string = "Big Data iNeuron"

my_output = my_string.split(" ")[2]

print(my_output[-1: :-1])

norueNi

##### Q30. Resverse the string given in the above question.

###### ANS :

In [4]:
my_string = "Big Data iNeuron"

print(my_string[-1: :-1])

norueNi ataD giB

##### Q31. How can you delete entire string at once?
###### ANS : 

    Whole string can be deleted using del statement:
    
    aString = "123" 
    del aString
    print(aString)

##### Q32. What is escape sequence?
###### ANS : 

   * Escape sequences allow you to include special characters in strings.

   * A backslash () before the character or including everything in triple quotes() can be used to get this.

    EX:
    s = 'Hey, what's up?' 
    print(s)

    This gives an error saying "SyntaxError: invalid syntax" for the aphostrophe in "what's'

    This can be avoided using ecape charecter;

In [93]:
s= ''' Hey, what's up? '''
print(s)

 Hey, what's up?

##### Q33. How can you print the below string?

    'iNeuron's Big Data Course'
    
###### ANS :

In [95]:
my_string = ''' 'iNeuron's Big Data Course' '''
print(my_string)

 'iNeuron's Big Data Course'

In [101]:
print('\'iNeuron\'s Big Data Course\'')

'iNeuron's Big Data Course'

##### Q34. What is a list in Python?
###### ANS : 

* List is a sequentiel datatype that can save heterogenous data i.e. elements with different datatypes. 
* All the elements are saved in contiguous memory locations.
* List is represented by squared brackets []

In [102]:
my_list = [1, 2, 3, "my_val", True] 
print(my_list)

[1, 2, 3, 'my_val', True]

##### Q35. How can you create a list in Python?
###### ANS : 

* List is created by adding the list values inside squared bracket representation.

In [103]:
my_list2 = [1, 2, 3, "vishal", True] 
print(my_list2)

[1, 2, 3, 'vishal', True]

##### Q36. How can we access the elements in a list?
###### ANS : 

* List elements can be accessed using index starting with 0

In [104]:
my_list2 = [1, 2, 3, "my_val", True] 
print(my_list2[3])

my_val

##### Q37. Write a code to access the word "iNeuron" from the given list.

     lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
###### ANS :

In [108]:
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

print(lst[4][2])

iNeuron

##### Q38. Take a list as an input from the user and find the length of the list.
###### ANS :

In [28]:
my_lst = [x for x in input("Enter List values: ").split()]

print(len(my_lst))

Enter List values: 1 2 7 8 9 11
6

##### Q39. Add the word "Big" in the 3rd index of the given list.

        lst = ["Welcome", "to", "Data", "course"]
###### ANS :  In below both ways we can achieve this

In [29]:
lst = ["Welcome", "to", "Data", "course"]

lst[2] = "Big " + lst[2]

print(lst)

['Welcome', 'to', 'Big Data', 'course']

In [31]:
lst = ["Welcome", "to", "Data", "course"]
lst.insert(2,"Big")
print(lst)

['Welcome', 'to', 'Big', 'Data', 'course']

##### Q40. What is a tuple? How is it different from list?
###### ANS : 

*  Tuple is also a collection of values, A tuple can contain different data types.

   Also, the tuples are immutatble menaing the values inside the tuple can not be changed.

##### Q41. How can you create a tuple in Python?
###### ANS : 

    Tuple can be created using paranthesis ()
    
    t1 = (1, 2, 3)

##### Q42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.
###### ANS : 

    This operations are not possible as the tuples are immutable.
    t1 = (1, 2, 3)
    t1.append("kalpesh")

##### Q43. Can two tuple be appended. If yes, write a code for it. If not, why?
###### ANS : 

    Two tuples can not be appended as is as tuples are immutable 
    we can not perform below methods:
    
    t1 = (1,2,3) 
    t2 = (4,5,6)

    t1.append(t2) 
    t1.add(t2)

    t3 = t1.insert(1, t2)

But if we convert them to list first and then append then and convert them back to tuple, 
this can be an alternative way to cappend tuples.

In [6]:
t1 = (1,2,3)
t2 = (4,5,6)

t3 = tuple(list(t1) + list(t2))

print(t3)
print(type(t3))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

##### Q44. Take a tuple as an input and print the count of elements in it.
###### ANS :

In [8]:
my_tuple = tuple(x for x in input("Enter List values: ").split())

print(len(my_tuple))
print(type(my_tuple))

Enter List values: 1 13 12 11 8 7
6
<class 'tuple'>

##### Q45. What are sets in Python?
###### ANS : 

    Set is a collection of heterogenous values which are ordered and distinct, represented by curly braces {}

In [12]:
s1 = { 1, 2, 3, 4, 4, 5, 0, "XYZ", "xyz", "xyz"}

print(s1)

{0, 1, 2, 3, 4, 5, 'XYZ', 'xyz'}

##### Q46. How can you create a set?
###### ANS : 

    A set can be created using {} representation, adding value to itseperated by commas

##### Q47. Create a set and add "iNeuron" in your set.
###### ANS :

In [14]:
set_1 = { 1, 2, 3, 4, 4, 5, 0, "XYZ", "xyz", "xyz"}

set_1.add("iNeuron")

print(set_1)

{0, 1, 2, 3, 4, 5, 'XYZ', 'iNeuron', 'xyz'}

##### Q48. Try to add multiple values using add() function.
###### ANS : 

add() takes exactly one argument:
we can add multiple values using update() method

set_1 = {2, 3, 4, 4, 5, "XYZ", "xyz", "xyz"}

set_1.add("iNeuron",1,10)


print(set_1)

output:

TypeError: add() takes exactly one argument (3 given)

##### Q49. How is update() different from add()?
###### ANS : 

    Add adds an element, update "adds" another iterable set, list or tuple i.e. multiple elements.

In [122]:
set_1 = {2, 3, 4, 4, 5, "XYZ", "xyz", "xyz"}

multi_vals = ["iNeuron", 45, False, True]

set_1.update(multi_vals)

print(set_1)

{False, True, 2, 3, 4, 5, 'XYZ', 'iNeuron', 45, 'xyz'}

##### Q50. What is clear() in sets?
###### ANS : 

    The clear() method removes all items from the set.

    Ex;

In [123]:
set_1.clear()
print(set_1)

set()

##### Q51. What is frozen set?
###### ANS : 

* A frozenset is an unordered and unindexed collection of unique elements.
* It is immutable and it is hashable. It is also called an immutable set.
* Since the elements are fixed, we can't add or remove elements from the set.
  
 Ex; fruits = {"Apple", "Banana", "Cherry", "Apple", "Kiwi"} basket = frozenset(fruits)

##### Q52. How is frozen set different from set?
###### ANS : 

* A frozenset is immutable and it is hashable.
* Since the elements are fixed, we can't add or remove elements from the set.
* Frozensets are hashable, we can use the elements as a dictionary key or as an element from another set.
 
 Ex:

In [18]:
fruits = {"Apple", "Banana", "Cherry", "Apple", "Kiwi"} 
basket = frozenset(fruits)

Output-

In [21]:
print('Unique elements:', basket)

Unique elements: frozenset({'Kiwi', 'Banana', 'Cherry', 'Apple'})

* Add new fruit throws an error!

In [20]:
basket.add("Orange") 
print('After adding new element:', basket)

AttributeError: 'frozenset' object has no attribute 'add'

##### Q53. What is union() in sets? Explain via code.
###### ANS : 

    Union combines all the elements from both the sets. Repeating elements are only considered once.

In [23]:
numbers1 = {1, 4, 5}
numbers2 = {2, 3, 4, 5}

numbers3 = numbers1 | numbers2

print(numbers3)

{1, 2, 3, 4, 5}

##### Q54. What is intersection() in sets? Explain via code.
###### ANS : 

    Intersection only returns the common elements between both the sets.

In [25]:
numbers1 = {1, 4, 5}
numbers2 = {2, 3, 4, 5}

numbers3 = numbers1 & numbers2

print(numbers3)

{4, 5}

##### Q55. What is dictionary ibn Python?
###### ANS :

    Dictionary is a map data structure consisting of key-value pairs, with unique set of keys.

    ex;

    my_dict = { "name" : "kalpesh", "age" : 25, "skills" : ["Python", "scala", "bigdata"] }

In [8]:
my_dict = {
    "name" : "vishal",
    "age" : 25,
    "skills" : ["Python", "scala", "bigdata"]
}

print(type(my_dict))

<class 'dict'>

In [33]:
list = [1,3,"vishal"]
list

[1, 3, 'vishal']

##### Q56. How is dictionary different from all other data structures.
###### ANS :

* A dictionary represents the relationship between pair of objects instead of just a set of objects like list, tuple, sets,       etc
* Elements may or may not be stored at a contagious memory location.
* Items are ordered, changeable, and do not allow duplicates
* The values in dictionary items can be of any data type
* To access a value the key is required

##### Q57. How can we delare a dictionary in Python?
###### ANS :

    A dictionary can be declared using a set of curly braces, {} 
    
    my_dict = { "name" : "vishal", "age" : 25, "skills" : ["Python", "scala", "bigdata"] }

    Another way could be using dict() function

    my_dict = dict({ "name" : "vishal", "age" : 25, "skills" : ["Python", "scala", "bigdata"] })

##### Q58. What will the output of the following?
###### ANS :

In [4]:
var = {}
print(type(var))

<class 'dict'>

##### Q59. How can we add an element in a dictionary?
###### ANS :

    We can add an element to the dictionary by simply adding a value along with keys.

    Following is an example of it.

In [10]:
my_dict = {
    "name" : "vishal",
    "age" : 20,
    "skills" : ["Python", "scala", "bigdata"]
}
my_dict

{'name': 'vishal', 'age': 20, 'skills': ['Python', 'scala', 'bigdata']}

In [11]:
# Adding a new element to dictionary
my_dict['Education'] = "BE IN IT"

print(my_dict)

{'name': 'vishal', 'age': 20, 'skills': ['Python', 'scala', 'bigdata'], 'Education': 'BE IN IT'}

##### Q60. Create a dictionary and access all the values in that dictionary.
###### ANS :

In [40]:
my_dict = {
    "name"  : "vishal",
    "age"   : 20,
    "gmail" : "vnv@gmail.com",
    "number": 1234567890,
    "skill" : ["Databricks","Python","Tableau"]
}

for i in my_dict:
    print(my_dict[i])

vishal
20
vnv@gmail.com
1234567890
['Databricks', 'Python', 'Tableau']

##### Q61. Create a nested dictionary and access all the element in the inner dictionary.
###### ANS :

In [52]:
my_dict = {
    "name"  : "vishal",
    "age"   : 20,
    "email" : "vnv@gmail.com",
    "number": 1234567890,
    "EDU"   :{
                "Diploma"     : "IT",
                "Engineering" : "IT",
                "PHD"         : "Data Science"
             }
}

for i in my_dict:
    print(i,":",my_dict[i])

name : vishal
age : 20
email : vnv@gmail.com
number : 1234567890
EDU : {'Diploma': 'IT', 'Engineering': 'IT', 'PHD': 'Data Science'}

In [55]:
for key in list(my_dict.keys()):
    print("Key: ", key, " value: ", my_dict[key])

Key:  name  value:  vishal
Key:  age  value:  20
Key:  email  value:  vnv@gmail.com
Key:  number  value:  1234567890
Key:  EDU  value:  {'Diploma': 'IT', 'Engineering': 'IT', 'PHD': 'Data Science'}

##### Q62. What is the use of get() function?
###### ANS :

    The get() method returns the value of the item with the specified key

In [50]:
my_dict = {
    "name"  : "vishal",
    "age"   : 20,
    "email" : "vnv@gmail.com",
    "number": 1234567890,
    "EDU"   :{
                "Diploma"     : "IT",
                "Engineering" : "IT",
                "PHD"         : "Data Science"
             }
}

print(my_dict.get("name"))
print(my_dict.get("number"))
print(my_dict.get("EDU"))
print(my_dict.get("EDU").get("PHD"))

vishal
1234567890
{'Diploma': 'IT', 'Engineering': 'IT', 'PHD': 'Data Science'}
Data Science

##### Q63. What is the use of items() function?
###### ANS :

    items() returns a list of all the keys and values pair in the dictionary

In [81]:
my_dict = {
    "name"  : "vishal",
    "age"   : 20,
    "email" : "vnv@gmail.com",
    "number": 1234567890,
    "EDU"   :{
                "Diploma"     : "IT",
                "Engineering" : "IT",
                "PHD"         : "Data Science"
             }
}

for i,j in my_dict.items():
    print(i, ":" , j)

name : vishal
age : 20
email : vnv@gmail.com
number : 1234567890
EDU : {'Diploma': 'IT', 'Engineering': 'IT', 'PHD': 'Data Science'}

In [82]:
print(list(my_dict.items()))

[('name', 'vishal'), ('age', 20), ('email', 'vnv@gmail.com'), ('number', 1234567890), ('EDU', {'Diploma': 'IT', 'Engineering': 'IT', 'PHD': 'Data Science'})]

##### Q64. What is the use of pop() function?
###### ANS :


pop function removes the elements from data structures based on index or keys

Ex; In following code we removed value for "email" key from dict2 as well as value at index 4 of a list lst3

List& Dictionary- for a list by default the last value in the list is removed if no index is specified, but for dictionary a key has to be specified

Set- When pop operation is done on set, it can only remove last value of set, it does not take any index as arguments.

Tuple- pop operation on tuple is not supported

In [84]:
# POP from dictionary

dict2 = {
    "name"  : "vishal",
    "age"   : 20,
    "email" : "vnv@gmail.com",
    "number": 1234567890,
    "EDU"   :{
                "Diploma"     : "IT",
                "Engineering" : "IT",
                "PHD"         : "Data Science"
             }
}

dict2.pop("email")

for k, v in dict2.items():
    print("key: ", k,"   ", "value: ", v)

key:  name     value:  vishal
key:  age     value:  20
key:  number     value:  1234567890
key:  EDU     value:  {'Diploma': 'IT', 'Engineering': 'IT', 'PHD': 'Data Science'}

In [70]:
    
# pop from list 
lst3 = [1,2,3,4,5,6]
lst3.pop(4) # 4th index value will get removed.

print(lst3)

[1, 2, 3, 4, 6]

In [94]:
# pop from set
set3 = {0,1,2,3,4,5,6,7}
set3.pop()

print(set3)

{1, 2, 3, 4, 5, 6, 7}

In [95]:
# pop from tuple 
t3 = (3,4,5,6,7,8,9)
t3.pop()

AttributeError: 'tuple' object has no attribute 'pop'

##### Q65. What is the use of popitems() function?
###### ANS :

    Python dictionary popitem() method removes the last inserted key-value pair from the dictionary and returns it as a tuple.

In [111]:
d = {1: '001', 2: '010', 3: '011'}

poped_item = d.popitem()
print(poped_item)

(3, '011')

##### Q66. What is the use of keys() function?
###### ANS :

keys() function returns the list of keys in a wrapped format.

Ex; d = {1: '001', 2: '010', 3: '011'} print(d.keys())

To get this list of keys in proper format, the result has to be typecasted to list print(list(d.keys()))

In [76]:
d = {1: '001', 2: '010', 3: '011'}

print(d.keys())
print(list(d.keys()))

dict_keys([1, 2, 3])
[1, 2, 3]

##### Q67. What is the use of values() function?
###### ANS :

    values() function returns the list of values in a wrapped format.

    Ex; d = {1: '001', 2: '010', 3: '011'} print(d.values())

    To get this list of values in proper format, the result has to be typecasted to list print(list(d.values()))

In [112]:
d = {1: '001', 2: '010', 3: '011'}
print(d.values())

print(list(d.values()))

dict_values(['001', '010', '011'])
['001', '010', '011']

##### Q68. What are loops in Python?
###### ANS :

    loops are the statements that allows us to execute certain statements multiple times based on certain conditions
    A loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

##### Q69. How many type of loop are there in Python?
###### ANS :

    There are 2 types of loops in python

1: While loop:
    
    In python, a while loop is used to execute a block of statements repeatedly until a given condition is satisfied.
    
2: For loop:
    
    used for sequential traversal. For example: traversing a list or string or array etc.

##### Q70. What is the difference between for and while loops?
###### ANS :


    * for loop is suitable when the number of iterations are fixed also counter variable get incremented automatically 
      without any increment statement in the loop body.

    * while loop is suitable when only the exit condition is known also counter variable has to be incremented by an 
      increment statement in the loop body.
     
    * The for statement iterates through a collection or iterable object or generator function.

    * The while statement simply loops until a condition is False.

##### Q71. What is the use of continue statement?
###### ANS :

    Continue Statement skips the execution of the program block from after the continue statement 
    and forces the control to start the next iteration.

##### Q72. What is the use of break statement?
###### ANS :

    break is used to terminate the execution of the loop.

##### Q73. What is the use of pass statement?
###### ANS :


    The pass statement is a null statement and it does nothing. But the difference between pass and comment is 
    that comment is ignored by the interpreter whereas pass is not ignored.

    Ex;

In [125]:
a = 10 
b = 20

if(a<b): 
    pass 
else: 
    print("b<a")

##### Q74. What is the use of range() function?
###### ANS :

    Range returns a list of mentioned value

    Ex;

    range(1, 11, 2) here, range returns all the values from 1 to 10 with a difference of 2

    1 => the starting value which is included 11 => the endingt value which is excluded 2 => difference 
    which is by default 1 and is an optional argument

In [126]:
for x in range(1, 11, 2):
    print(x)

1
3
5
7
9

##### Q75. How can you loop over a dictionary?
###### ANS :

    We can loop over a dictionary using keys() and items() function

In [144]:
dict2 = {
    "name"  : "vishal",
    "age"   : 20,
    "email" : "vnv@gmail.com",
    "number": 1234567890,
    "EDU"   :{
                "Diploma"     : "IT",
                "Engineering" : "IT",
                "PHD"         : "Data Science"
             }
}

In [147]:
# Using keys() function

print("Using keys() function \n")

for key in list(dict2.keys()):
    print("Key: ", key,"    ", "value: ", dict2[key])

Using keys() function

Key:  name      value:  vishal
Key:  age      value:  20
Key:  email      value:  vnv@gmail.com
Key:  number      value:  1234567890
Key:  EDU      value:  {'Diploma': 'IT', 'Engineering': 'IT', 'PHD': 'Data Science'}

In [148]:
# Using items() function

print("\nUsing items() function \n")

for k, v in dict2.items():
    print("key: ", k,"   ", "value: ", v)

Using items() function

key:  name     value:  vishal
key:  age     value:  20
key:  email     value:  vnv@gmail.com
key:  number     value:  1234567890
key:  EDU     value:  {'Diploma': 'IT', 'Engineering': 'IT', 'PHD': 'Data Science'}

# Coding problems

##### Q76. Write a Python program to find the factorial of a given number.
###### ANS :

In [154]:
num = int(input("enter a number: "))

factorial = 1
for i in range(1,num + 1):
    factorial = factorial*i
    
print("The factorial of",num,"is",factorial)

enter a number: 4
The factorial of 4 is 24

##### Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (PRT)/100
###### ANS :

In [159]:
p = int(input("Enter the value for p :"))
r = int(input("Enter the value for r :"))
t = int(input("Enter the value for t :"))

si = (p*r*t)/100
print("simple interest = ", si)

Enter the value for p :5
Enter the value for r :2
Enter the value for t :3
simple interest =  0.3

##### Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.
###### ANS :

In [165]:
p = int(input("Enter the value for p :"))
r = int(input("Enter the value for r :"))
t = int(input("Enter the value for t :"))

ci = p*((1+ (r/100))**t)

print("compound interest = ", ci)

Enter the value for p :5
Enter the value for r :2
Enter the value for t :3
compound interest =  5.306040000000001

##### Q79. Write a Python program to check if a number is prime or not.
###### ANS :

In [23]:
n = int(input("enter a number "))

flag = 0

for i in range (2, n):
    if n % i == 0:
        flag = 1
        
if flag == 0:
    print(n, " is a prime number")
else:
    print(n, " is NOT a prime number")

enter a number 17
17  is a prime number

##### Q80. Write a Python program to check Armstrong Number.
###### ANS :

##### Logic of code:

153 = (1*1*1)+(5*5*5)+(3*3*3)  

where:  
(1*1*1)=1  
(5*5*5)=125  
(3*3*3)=27  

So:  
1+125+27=153

In [8]:
num = int(input("Enter a number: "))

sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

##### Q81. Write a Python program to find the n-th Fibonacci Number.
###### ANS :

In [2]:
no = 10

if no < 0:
    print("Incorrect input")
    
elif no == 0:
    print(0)
elif no == 1 or no == 2:
    print(1)
else:
    r = (no-1) + (no-2)
    print(r)

17

##### Q82. Write a Python program to interchange the first and last element in a list.
###### ANS :

In [6]:
my_list = [1, 2, 3, 4, 5, 6]

print("List before interchange : ", my_list)
my_list[0], my_list[-1] = my_list[-1], my_list[0]

print("List after interchange : ", my_list)

List before interchange :  [1, 2, 3, 4, 5, 6]
List after interchange :  [6, 2, 3, 4, 5, 1]

##### Q83. Write a Python program to swap two elements in a list.
###### ANS :

In [10]:
my_list = list(map(int, input("Enter the list: ").split()))

print('Before swapping:',my_list)
def swap(my_list):
    
    b=int(input('Enter the index 1st no to swap:'))
    c=int(input('Enter the index no which you want to swap with:'))
    
    temp = my_list[b]
    my_list[b] = my_list[c]
    my_list[c] = temp
    
swap(my_list)
print(my_list)

Enter the list: 1 2 3 4
Before swapping: [1, 2, 3, 4]
Enter the index 1st no to swap:0
Enter the index no which you want to swap with:1
[2, 1, 3, 4]

##### Q84. Write a Python program to find N largest element from a list.
###### ANS :

In [11]:
my_list = list(map(int, input("Enter the list: ").split()))
def max(my_list):
    my_list.sort()
    return my_list[-1]
print(max(my_list))

Enter the list: 100 90 900 700 800
900

##### Q85. Write a Python program to find cumulative sum of a list.
###### ANS :

In [14]:
my_list = list(map(int, input("Enter the list: ").split()))
new_list=[]
j=0
for i in range(0,len(my_list)):
    j += my_list[i]
    new_list.append(j)
     
print(new_list)

Enter the list: 1 2 3 4
[1, 3, 6, 10]

##### Q86. Write a Python program to check if a string is palindrome or not.
###### ANS :

In [1]:
input_string = input("Enter a string: ")
reverse_string = input_string[-1: : -1]

if input_string == reverse_string:
    print(input_string, "is a palindrome")
else:
    print(input_string, "is NOT a palindrome")

Enter a string: 1 2 1
1 2 1 is a palindrome

##### Q87. Write a Python program to remove i'th element from a string.
###### ANS :

In [13]:
input_string = input("Enter a string: ")
i = int(input("enter the value for i: "))


rem_str = input_string[:i] + input_string[i+1 : ]
print(rem_str)

Enter a string: hello
enter the value for i: 1
hllo

##### Q88. Write a Python program to check if a substring is present in a given string.
###### ANS :

In [2]:
input_string = input("Enter a string: ")
sub_string = input("Enter a sub-string: ")

if sub_string in input_string:
    print(sub_string, " is present in ", input_string)
else:
    print(sub_string, " is NOT present in ", input_string)

Enter a string: vishal
Enter a sub-string: vi
vi  is present in  vishal

##### Q89. Write a Python program to find words which are greater than given length k.
###### ANS :

In [14]:
input_string = input("Enter a string: ").split()
k = int(input("enter the value for i: "))

counter = 0

for i in input_string:
    if len(i) > k:
        counter += 1

print(counter, " words are greater than length ", k)

Enter a string: python java
enter the value for i: 4
1  words are greater than length  4

##### Q90. Write a Python program to extract unquire dictionary values.
###### ANS :

In [34]:
dict2 = {
    "name"  : "vishal",
    "age"   : 20,
    "email" : "vnv@gmail.com",
    "number": 1234567890,
    "age"   : 20
}

unique_val = set(dict2.values())

print("Unique dictionary values are: ", unique_val)

Unique dictionary values are:  {'vishal', 1234567890, 'vnv@gmail.com', 20}

##### Q91. Write a Python program to merge two dictionary.
###### ANS :

In [51]:
dict1 = {
    "1" : "varun",
    "2" : 25,
    "3" : "xyz,pqr",
    "4" : "xyz,pqr",
    "5" : "abc@mail.com"
}

dict2 = {
    "name"  : "vishal",
    "age"   : 20,
    "email" : "vnv@gmail.com",
    "number": 1234567890,
    "EDU"   :{
                "Diploma"     : "IT",
                "Engineering" : "IT",
                "PHD"         : "Data Science"
             }
}

res = {**dict1, **dict2}
res

{'1': 'varun',
 '2': 25,
 '3': 'xyz,pqr',
 '4': 'xyz,pqr',
 '5': 'abc@mail.com',
 'name': 'vishal',
 'age': 20,
 'email': 'vnv@gmail.com',
 'number': 1234567890,
 'EDU': {'Diploma': 'IT', 'Engineering': 'IT', 'PHD': 'Data Science'}}

##### Q92. Write a Python program to convert a list of tuples into dictionary.
###### ANS :

    Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
    Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

In [65]:
input_list = [('vishal', 10), ('varun', 7), ('mahesh', 18), ('rajesh', 45)]
    
output_val = {}

for i in input_list:
       
    output_val[i[0]] = i[1]
    
print(output_val)

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

##### Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.

    Input: list = [9, 5, 6]
    Output: [(9, 729), (5, 125), (6, 216)]

###### ANS :

In [72]:
input_val = [9, 5, 6]

output = []

for i in input_val:
    output.append((i, i**3))
    
print(output)

[(9, 729), (5, 125), (6, 216)]

##### Q94. Write a Python program to get all combinations of 2 tuples.

    Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)
    Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

###### ANS :

In [86]:
test_tuple1 = (7, 2)
test_tuple2 = (7, 8)

output = []
for i in range(0, len(test_tuple1)):
    for j in range(0, len(test_tuple2)):
        output.append((test_tuple1[i], test_tuple2[j]))

for i in range(0, len(test_tuple2)):
    for j in range(0, len(test_tuple1)):
        output.append((test_tuple2[i], test_tuple1[j]))
        
print(output)

[(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

In [85]:
from itertools import chain, product 
#  tuples
tuple1 = (7, 2)
tuple2 = (7, 8) 
#  original tuples
print("The tuple 1 : " + str(tuple1))
print("The tuple 2 : " + str(tuple2)) 
# All pair combinations of 2 tuples
result = list(chain(product(tuple1, tuple2), product(tuple2, tuple1))) 
#  result 
print("The resultant tuple : " + str(result))

The tuple 1 : (7, 2)
The tuple 2 : (7, 8)
The resultant tuple : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

##### Q95. Write a Python program to sort a list of tuples by second item.

    Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
    Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]

###### ANS :

In [101]:
tuple_1 = [('for', 24), ('Geeks', 8), ('Geeks', 30)]
print('Orginal tuple: ',tuple_1)

tuple_1.sort(key=lambda i:i[0])
print('After sorting by second element ',tuple_1)

Orginal tuple:  [('for', 24), ('Geeks', 8), ('Geeks', 30)]
After sorting by second element  [('Geeks', 8), ('Geeks', 30), ('for', 24)]

##### Q96. Write a python program to print below pattern.

    * 
    * * 
    * * * 
    * * * * 
    * * * * * 

###### ANS :

In [157]:
n= int(input('Enter the no.'))

for i in range (0, n+1):
    for j in range (1, i+1):
    
        print("*", end =" ")
    print("")

Enter the no.5

*
* *
* * *
* * * *
* * * * *

##### Q97. Write a python program to print below pattern.

        *
       **
      ***
     ****
    *****

###### ANS :

In [156]:
n= int(input('Enter the no.'))

for i in range (n, 0, -1):
    for j in range (1, i+1):
    
        print(" ", end ="")
    
    for k in range (i+1, n+1):
    
        print("*", end ="")
    print("")

Enter the no.6

     *
    **
   ***
  ****
 *****

##### Q98. Write a python program to print below pattern.


        * 
       * * 
      * * * 
     * * * * 
    * * * * *
    
###### ANS :

In [155]:
n= int(input('Enter the no.'))

for i in range (n, 0, -1):
    for j in range (1, i+1):
    
        print(" ", end ="")
    
    for k in range (i+1, n+1):
    
        print("* ", end ="")
    print("")

Enter the no.6

     *
    * *
   * * *
  * * * *
 * * * * *

##### Q99. Write a python program to print below pattern.


    1 
    1 2 
    1 2 3 
    1 2 3 4 
    1 2 3 4 5
###### ANS :

In [154]:
n= int(input('Enter the no.'))

for i in range (1, n+1):
    for j in range (1, i+1):
    
        print(j, end =" ")
    print("")

Enter the no.5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

##### Q100. Write a python program to print below pattern.

    A 
    B B 
    C C C 
    D D D D 
    E E E E E 
###### ANS :

In [162]:
for i in range (65,70):

    for j in range(65,i+1):
        print(chr(i),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E