***
## <p style="text-align:center">Pandas Assignment:
***

#####  Q1. How do you load a CSV file into a Pandas DataFrame?

    
###### ANS :

    import pandas as pd
    DF = pd.read_csv("cricket.csv")

#####  Q2. How do you check the data type of a column in a Pandas DataFrame?

    
###### ANS :
     
     df.dtypes

#####  Q3. How do you select rows from a Pandas DataFrame based on a condition?

    
###### ANS :
    
        df.loc[condition]

#####  Q4. How do you rename columns in a Pandas DataFrame?

    
###### ANS :

        df.rename()

#####  Q5. How do you drop columns in a Pandas DataFrame?

    
###### ANS :
        
        df.drop('column name', axis=1, inplace=true)

#####  Q6. How do you find the unique values in a column of a Pandas DataFrame?

    
###### ANS :
        
        df['column name'].unique()

#####  Q7. How do you find the number of missing values in each column of a Pandas DataFrame?

    
###### ANS :
        
        df.isnull().sum()

#####  Q8. How do you fill missing values in a Pandas DataFrame with a specific value?

    
###### ANS :
        
        import pandas as pd

        df = pd.read_csv('data.csv')

        newdf = df.fillna(222222)

#####  Q9. How do you concatenate two Pandas DataFrames?

    
###### ANS :
    
        df_concat = [df1, df2]
        result = pd.concat(df_concat)

#####  Q10. How do you merge two Pandas DataFrames on a specific column?

    
###### ANS :
        
        df1.merge(df2[['column1', 'column2', 'column3']])

#####  Q11. How do you group data in a Pandas DataFrame by a specific column and apply an aggregation function?

    
###### ANS :

* The Pandas .groupby() method works in a very similar way to the SQL GROUP BY statement. In fact, itâ€™s designed to mirror its SQL counterpart leverage its efficiencies and intuitiveness. Similar to the SQL GROUP BY statement, the Pandas method works by splitting our data, aggregating it in a given way (or ways), and re-combining the data in a meaningful way.


* Because the .groupby() method works by first splitting the data, we can actually work with the groups directly. Similarly, because any aggregations are done following the splitting, we have full reign over how we aggregate the data. Pandas then handles how the data are combined in order to present a meaningful DataFrame.

        result = df.groupby('Courses')
        ['Fee','Discount'].aggregate('sum')
        print(result)

#####  Q12. How do you pivot a Pandas DataFrame?

    
###### ANS :

    df.pivot(index='  ', cloumn='    ', values='    ')

In [22]:
import pandas as pd
  
# creating a dataframe
df = pd.DataFrame({'A': ['John', 'Boby', 'Mina'],
      'B': ['Masters', 'Graduate', 'Graduate'],
      'C': [27, 23, 21]})
  
df

      A         B   C
0  John   Masters  27
1  Boby  Graduate  23
2  Mina  Graduate  21

In [23]:
df.pivot(index ='A', columns ='B', values =['C', 'A'])

            C                A
B    Graduate Masters Graduate Masters
A
Boby       23     NaN     Boby     NaN
John      NaN      27      NaN    John
Mina       21     NaN     Mina     NaN

#####  Q13. How do you change the data type of a column in a Pandas DataFrame?

    
###### ANS :

In [24]:

# importing pandas as pd
import pandas as pd
 
# sample dataframe
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [1.1, '1.0', '1.3', 2, 5]})
 
# converting all columns to string type
df = df.astype(str)
print(df.dtypes)

A    object
B    object
C    object
dtype: object

In [25]:
import pandas as pd
 
data = {
  "name": ["Aman", "Hardik", pd.NA],
  "qualified": [True, False, pd.NA]
}
 
df = pd.DataFrame(data)
 
print("Original_dtypes:")
print(df.dtypes,"\n")
 
newdf = df.convert_dtypes()
 
print("New_dtypes:")
print(newdf.dtypes)

Original_dtypes:
name         object
qualified    object
dtype: object

New_dtypes:
name          string
qualified    boolean
dtype: object

#####  Q14. How do you sort a Pandas DataFrame by a specific column?

    
###### ANS :


        df.sort_values('column name')

#####  Q15. How do you create a copy of a Pandas DataFrame?

    
###### ANS :

In [26]:

import pandas as pd

data = {
  "name": ["Sally", "Mary", "John"],
  "qualified": [True, False, False]
}

df = pd.DataFrame(data)

#Make a copy:

newdf = df.copy()

print(newdf)

    name  qualified
0  Sally       True
1   Mary      False
2   John      False

#####  Q16. How do you filter rows of a Pandas DataFrame by multiple conditions?

    
###### ANS :

In [29]:
import pandas as pd
import numpy as np
 
dataFrame = pd.DataFrame({'Name': [' RACHEL  ', ' MONICA  ', ' PHOEBE  ',
                                   '  ROSS    ', 'CHANDLER', ' JOEY    '],
                           
                          'Age': [30, 35, 37, 33, 34, 30],
                           
                          'Salary': [100000, 93000, 88000, 120000, 94000, 95000],
                           
                          'JOB': ['DESIGNER', 'CHEF', 'MASUS', 'PALENTOLOGY',
                                  'IT', 'ARTIST']})
 
# filter dataframe                                  
filtered_values = np.where((dataFrame['Salary']>=100000) & (dataFrame['Age']< 40) & (dataFrame['JOB'].str.startswith('D')))
print(filtered_values)
display(dataFrame.loc[filtered_values])

(array([0], dtype=int64),)

        Name  Age  Salary       JOB
0   RACHEL     30  100000  DESIGNER

In [31]:
import pandas as pd
 

dataFrame = pd.DataFrame({'Name': [' RACHEL  ', ' MONICA  ', ' PHOEBE  ',
                                   '  ROSS    ', 'CHANDLER', ' JOEY    '],
                           
                          'Age': [30, 35, 37, 33, 34, 30],
                           
                          'Salary': [100000, 93000, 88000, 120000, 94000, 95000],
                           
                          'JOB': ['DESIGNER', 'CHEF', 'MASUS', 'PALENTOLOGY',
                                  'IT', 'ARTIST']})
# filter dataframe
display(dataFrame.loc[(dataFrame['Salary']>=100000) & (dataFrame['Age']< 40) & (dataFrame['JOB'].str.startswith('D')),
                    ['Name','JOB']])

        Name       JOB
0   RACHEL    DESIGNER

#####  Q17. How do you calculate the mean of a column in a Pandas DataFrame?

    
###### ANS :

In [33]:
import pandas as pd
import numpy as np


df = pd.DataFrame({'player': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
                   'points': [25, 20, 14, 16, 27, 20, 12, 15, 14, 19],
                   'assists': [5, 7, 7, 8, 5, 7, 6, 9, 9, 5],
                   'rebounds': [np.nan, 8, 10, 6, 6, 9, 6, 10, 10, 7]})

df

  player  points  assists  rebounds
0      A      25        5       NaN
1      B      20        7       8.0
2      C      14        7      10.0
3      D      16        8       6.0
4      E      27        5       6.0
5      F      20        7       9.0
6      G      12        6       6.0
7      H      15        9      10.0
8      I      14        9      10.0
9      J      19        5       7.0

In [34]:
df['points'].mean()

18.2

In [36]:
df[['rebounds', 'points']].mean()

rebounds     8.0
points      18.2
dtype: float64

#####  Q18. How do you calculate the standard deviation of a column in a Pandas DataFrame?

    
###### ANS :

    You can use the DataFrame.std () function to calculate the standard deviation of values in a pandas DataFrame. 
    You can use the following methods to calculate the standard deviation in practice: 

    Method 1: Calculate Standard Deviation of One Column df['column_name'].std() 
    Method 2: Calculate Standard Deviation of Multiple Columns

#####  Q19. How do you calculate the correlation between two columns in a Pandas DataFrame?

    
###### ANS :

Correlation is used to summarize the strength and direction of the linear association between two quantitative 
variables. 

It is denoted by r and values between -1 and +1. A positive value for r indicates a positive association, and a negative value for r indicates a negative association.

By using corr() function we can get the correlation between two columns in the dataframe.

In [39]:
import pandas as pd
 

data = pd.DataFrame({
    "column1": [12, 23, 45, 67],
    "column2": [67, 54, 32, 1],
    "column3": [34, 23, 56, 23]
}
)
# display dataframe
print(data)
 
# correlation between column 1 and column2
print(data['column1'].corr(data['column2']))
 
# correlation between column 2 and column3
print(data['column2'].corr(data['column3']))
 
# correlation between column 1 and column3
print(data['column1'].corr(data['column3']))

   column1  column2  column3
0       12       67       34
1       23       54       23
2       45       32       56
3       67        1       23
-0.9970476685163736
0.07346999975265099
0.0

#####  Q20. How do you select specific columns in a DataFrame using their labels?

    
###### ANS :



    df.loc['colmn name']

#####  Q21. How do you select specific rows in a DataFrame using their indexes?

    
###### ANS :



        df.iloc['colmn name']

#####  Q22. How do you sort a DataFrame by a specific column?

    
###### ANS :

        df.sort_values('column name')

#####  Q23. How do you create a new column in a DataFrame based on the values of another column?

    
###### ANS :

In [47]:
import pandas as pd
 
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy'],
                    'Cost':[10000, 5000, 15000, 2000]})
 
# Create a new column 'Discounted_Price' after applying
# 10% discount on the existing 'Cost' column.
 
# create a new column
df['Discounted_Price'] = df['Cost'] - (0.1 * df['Cost'])
 
# Print the DataFrame after
# addition of new column
print(df)

        Date    Event   Cost  Discounted_Price
0  10/2/2011    Music  10000            9000.0
1  11/2/2011   Poetry   5000            4500.0
2  12/2/2011  Theatre  15000           13500.0
3  13/2/2011   Comedy   2000            1800.0

#####  Q24. How do you remove duplicates from a DataFrame?

    
###### ANS :

In [42]:

import pandas as pd

data = {
  "name": ["Sally", "Mary", "John", "Mary"],
  "age": [50, 40, 30, 40],
  "qualified": [True, False, False, False]
}

df = pd.DataFrame(data)

newdf = df.drop_duplicates()

print(newdf)

    name  age  qualified
0  Sally   50       True
1   Mary   40      False
2   John   30      False

#####  Q25. What is the difference between .loc and .iloc in Pandas?

    
###### ANS :


        The main difference between pandas loc[] vs iloc[] 
        is loc[] gets DataFrame rows & columns by labels/names and 
        iloc[] gets by integer Index/position.

##### -----------------------------------------------------------------------------------------------------------------